* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', sans-serif;
}

body {
  background-color: #000000;
}

/* Header Section */
.header {
  background-color: #000000;
  text-align: center;
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 300px;
  height: 200px;
}

.logo h1 {
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Navigation */
.nav-bar {
  background-color: #434343;
  margin-top: 20px;
  border-radius: 20px; 
}

.nav-bar ul {
  display: flex;
  justify-content: flex-start; 
  list-style: none;
  padding: 10px 40px;
}

.nav-bar li {
  margin: 0 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.nav-bar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #ffcc33;
  transition: width 0.3s ease;
}

.nav-bar a:hover {
  color: #ffcc33;
}

.nav-bar a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
  position: relative;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 60px 40px;
  margin: 20px auto;
  width: 90%;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('burger.png') center/cover no-repeat;
  filter: blur(6px);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content:hover{
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.hero-content h2 {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
}

.hero-content p {
  max-width: 600px;
  margin-top: 10px;
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  width: 90%;
}

.card {
  background-color: #FAEBD7;
  padding: 15px;
  border-radius: 20px;
  flex: 1;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 4px 8px rgba(255, 204, 51, 0.6);
}

.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p {
  color: #333;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  color: #464b7c;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid rgba(32, 34, 47, 0.6); 
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1); 
  transition: all 0.3s ease;
}

.card a:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  border-color: #2d82ea; 
  color: #3399ff;
  transform: scale(1); 
}

/* Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 15px;
}

.footer-logo {
  width: 50px;
}

.footer p {
  color: #FAEBD7;
}
